*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #2d2c2d;
  color: #949495;
  font-size: 150%;
  font-weight: normal;
  font-family: 'Open-sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 700px;
  padding: 0 1em;
}

.city {
  color: #de9756;
}

